*{
  margin:0;
  overflow: hidden;
}
body {
  margin:0;
  padding:0;
}
img {
  position: absolute;
  margin:0;
}
.one{
  left:0;
  top:0;
}
.two {
  clip-path: url(#myClip);
   left:0;
  top:0;
  z-index:2;
}
